<div class="dashboard-container">
  <div class="buttons">
    <button class="add" routerLink="add-post">nuovo</button>
  </div>
  <table *ngIf="posts">
    <tr>
      <th>ID</th>
      <th>Titolo</th>
      <th>Descrizione</th>
      <th>Azioni</th>
    </tr>
    <tr *ngFor="let post of posts"> <!-- ngfor sulla row per i posts-->
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.description}}</td>
      <td class="actions">
        <button class="modifica" routerLink="update-post/{{post.id}}">modifica</button>
        <button *ngIf="post.id && post.id > 0" class="elimina" (click)="onDelete(post.id)">elimina</button>
      </td>
    </tr>
  </table>
</div>
